.icon {
    background-image: url("https://media.reformclothing.com/design_lab/ysd-products/R2004H_Rain_Jacket/R2004H_Rain_Jacket_Front_A_2048.png");
    background-color: white;
    height: 500px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}
.background-product {
    margin-top: 10px;
}
image {
    z-index: 5;
    position: relative;
    overflow: hidden;
}
svg {
    z-index: 2;
    position: relative;
}
