body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Proxima Nova', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
p {
  margin: 0;
}
