.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    text-transform: uppercase;
    align-items: center;
    border-bottom: 1px solid #000000;
}
.logo {
    line-height: revert;
    text-decoration: none;
    font-size: 30px;
    color: #000000;
    font-weight: 900;
}
.menu {
    display: inherit;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
}
.menu > li {
    margin-left: 30px;
}
.menu > li:first-child {
    margin-left: 0;
}
.menu > li > a {
    text-decoration: none;
    color: black;
}
.list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.list > li {
    margin-left: 50px;
}
.list > li:first-child {
    margin-left: 0;
}
.list li a img {
    height: 25px;
}
.black {
    filter: invert(1);
}
