.rowWrapper {
    display: flex;
    margin-top: 35px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.imageWrapper {
    width: 800px;
    height: 600px;
}

.imageWrapper > svg {
    width: auto;
}
