


.panel #entry-panel.selected {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.scrollbar-container {
    overflow: hidden;
    height: calc(100% - 44px);
    position: relative;
}
.scrollbar-container .scrollable-content {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
}
.scrollbar-container .scrollable-content.for-mac {
    padding: 0 15px 15px 0;
    right: -15px;
    bottom: -15px;
}
.scrollbar-container .scrollbar-track {
    position: absolute;
}
.scrollbar-container .scrollbar-track.vertical {
    width: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f1f2;
}
.scrollbar-container .scrollbar-track .scrollbar-thumb {
    border-radius: 4px;
    cursor: pointer;
}

.panel .section-groups .section-group .svg-icon {
    width: calc(100% - 4px * 2);
    height: 52px;
    margin: auto;
}
.panel .section-groups .section-group .svg-icon svg {
    width: 56.52%;
    margin-left: 21.74%;
    display: inline-block;
    vertical-align: middle;
}

.panel .icon-color-wrapper {
    height: 40px;
    width: 40px;
    margin: 8px auto;
    display: block;
    background: #fff;
    overflow: hidden;
    position: relative;
}



.none {
    display: none;
}
#none {
    display: none;
}
