@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
.section {
    position: relative;
    height: 100vh;
    color: white;
    overflow: hidden;
}
.section__container {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
}
.section__info {
    max-width: 24rem;
    position: absolute;
    font-size: 4rem;
    top: 150px;
    left: 200px;
    color: inherit;
    z-index: 2;
}
.section__title {
    color: inherit;
    margin: 0;
}
.section__action {
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    padding: 15px 110px;
    text-transform: uppercase;
}
.section__first {
    background-image: url("assets/background.svg");
}
.section__first, .section__second, .section__third, .section__fourth {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.section__first .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__first .navigation .brand-logo {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: normal;
    font-family: Montserrat, sans-serif;
}
.section__first .navigation .nav-list {
    min-width: 100px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}
.section__second, .section__fourth {
    color: #000000;
    background-color: #ffffff;
}
.section__second {
    position: relative;
}

.section__second .design-img {
    position: absolute;
    right: 0;
    width: 700px;
}
.section__second .section__action {
    border: 2px solid #000000;
}
.section__second .design-img {
    max-width: 100%;
}
.section__third {
    background-color: #000000;
    display: flex;
    position: relative;
}
.section__content {
    width: auto;
    position: absolute;
    top: 157px;
    left: 640px;
    display: flex;
}
.section__third .section__content .testimonial {
    max-width: 300px;
    margin-right: 50px;
}
.section__third .section__content .testimonial:last-child {
    margin: 0;
}
.section__third .section__content .testimonial__avatar {
    width: 300px;
    height: 300px;
    background: #cccccc;
}
.section__third .section__content .testimonial__text {
    margin: 50px 0;
}
.section__text {
    max-width: 580px;
    font-size: 30px;
}
#scrollToTop {
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    position: fixed;
    right: 150px;
    bottom: 80px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}
#scrollToTop span {
    transform: rotate(270deg);
}

@media (max-width: 1240px) {
    .section__container {
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .section__container {
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .section__container {
        max-width: none;
    }
    .section__info {
        max-width: none;
        transform: translateX(-50%);
    }
    .section__title {
        font-size: 4rem;
        text-align: center;
    }
    .section__action {
        font-size: 1.5rem;
    }
}
