.product__quantity {
    position: relative;
    top: 2.4em;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    border: 2px solid #000000;
    border-radius: 3px;
    background: black;
}
.buttons > * {
    font-size: 24px;
    width: 50px;
    align-items: center;
    box-sizing: border-box;
}
.buttons > button {
    border: 1px solid #000000;
    outline: none;
    cursor: pointer;
}
.buttons > .count {
    background: black;
    color: white;
    text-align: center;
}
