.gender-checkbox {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label {
    display: inherit;
    align-items: center;
    font-size: 1.3em;
}
.label .input {
    margin: 0;
    height: 20px;
    width: 20px;
}
.label .input:focus {
    background-color: red;
}
