.product {
    margin-top: 60px;
}
.container {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}
p {
    margin: 0;
}
.product__image {
    width: 543px;
    height: 544px;
    object-fit: cover;
}
.product__title {
    margin: 0;
    font-size: 30px;
}
.product__description {
    margin: 10px 0 40px;
    font-size: 25px;
}
.product__price {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
}
.size__text {
    margin-bottom: 20px;
}
.box {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 190px;
    padding: 0;
}
.box__item {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 3px;
}
span {
    margin: 40px 0 30px;
}
.action__button {
    display: flex;
    margin-top: 30px;
    max-width: 725px;
    box-sizing: border-box;
}
.action__button > a:first-child,
.action__button > a:last-child {
    margin-right: 25px;
    border: 2px solid #202020;
    border-radius: 3px;
    text-decoration: none;
    max-width: 350px;
    padding: 10px 35px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}
.action__button > a:last-child {
    background: black;
    color: white;
    margin-right: 0;
}
.information {
    margin-top: 60px;
    display: flex;
}
.product__quantity {
    margin: 40px 0;
}
.buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    max-width: 150px;
    border: 2px solid #000000;
    border-radius: 3px;
    justify-content: center;
    background: black;
}
.buttons > * {
    font-size: 24px;
    width: 50px;
    align-items: center;
    box-sizing: border-box;
}
.buttons > button {
    border: 1px solid #000000;
    outline: none;
    cursor: pointer;
}
.buttons > .count {
    background: black;
    color: white;
    text-align: center;
}
.product__delivery {
    margin-left: 30px;
    font-weight: bold;
}
.product__information {
    background: black;
    color: white;
    margin-top: 30px;
}
.sections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-gap: 70px;
    margin: 30px 0 50px;
}
.sections > div {
    overflow: hidden;
}
