.plain-color-list {
    width: 162px;
    border: 1px solid #f1f1f2;
}

.close {
    display: none;
}

.plain-color-list .panel-content {
    height: calc(100% - 44px);
    padding: 5px 10px 15px 10px;
    text-align: center;
}

.plain-color-list .color-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.panel .plain-color-list .icon-color-wrapper {
    width: 36px;
    height: 36px;
    margin: 4px;
    border-radius: 50%;
}

.plain-color-list .icon-color-wrapper:hover {
    padding: 2px;
    border: 2px solid #000000;
}

.plain-color-list .icon-color-wrapper .back {
    box-shadow: 0 0 1px #878889 inset;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
