:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 200px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}
.panel {
    background-color: var(--bg);
    height: var(--nav-size);
    width: 60px;
    color: white;
    padding: 20px 15px;
    border-bottom: var(--border);
    border-radius: 5px;
}
.panel a {
    color: var(--text-color);
    text-decoration: none;;
}
.panelNav {
    list-style: none;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.panel-item {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.2);
}

.icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}
.dropdown {
    position: absolute;
    top: 0;
    left: 370px;
    width: 300px;
    height: 240px;
    overflow: hidden;
    color: black;
    border: 1px solid #242424;
}
.resetBtn {
    background: none;
    color: white;
    outline: none;
}
.colors {
    margin: 20px;
    max-width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(40px, auto);
    grid-auto-columns: minmax(40px, auto);
    grid-gap: 20px;
}
/*.colors > a {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/
.color {
    background-color: blueviolet;
}
