.sizePanel {
    position: relative;
    top: 1.2em;
    max-width: 140px;
    padding: 2px;
    font-size: 20px;
    border: 1px solid #202020;
    border-radius: 3px;
}
.sizeContent {
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.sizeContent li {
    padding: 5px 9px;
    cursor: pointer;
}
.sizeContent li.selected {
    background: #202020;
    border-radius: 3px;
    color: #FFFFFF;
}
.sizeContent li.selected a {
    width: 100%;
}
.sizeContent li a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}
