.icon-panel {
    width: 250px;
    border: 1px solid #f1f1f2;
}

.icon-panel .panel-content {
    height: calc(100% - 44px);
    padding: 5px 10px 15px 10px;
    text-align: center;
}

.icon-panel .logo-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.panel .icon-panel .icon-wrapper {
    width: 50px;
    height: 50px;
    margin: 4px;
}

.panel .icon-panel .icon-wrapper img {
    width: 100%;
    object-fit: cover;
}

.panel .icon-panel .icon-wrapper:hover {
    border: 1px solid #ccc;
    border-radius: 10%;
}
