.panel {
    position: absolute;
    top: 80px;
    left: 32px;
    display: flex;
    z-index: 103;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'LabGrotesque-Black', sans-serif;
}
.panel #entry-panel {
    width: 90px;
    height: 210px;
    padding: 15px 10px;
    color: #b3b3b3;
    background-color: #000000;
    text-align: center;
    border-radius: 6px;
}
.panel #entry-panel .customize-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel #entry-panel .customize-categories a {
    cursor: pointer;
}

.panel #entry-panel .icon-angle-wrapper .icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    vertical-align: middle;
}
.panel #entry-panel .icon-angle-wrapper .angle-icon {
    width: 15px;
    vertical-align: middle;
}
.panel .category-name {
    font-family: 'LabGrotesque-Black', sans-serif;
}
.divider {
    width: 30px;
    height: 1px;
    margin: 10px auto;
    background-color: #f1f1f2;
}
.panel #entry-panel .btn-reset {
    width: 100%;
    height: 36px;
    border: 1px solid #262626;
    margin-top: 20px;
    border-radius: 2px;
    background: none;
    color: #ffffff;
    outline: none;
    transition: border ease-in-out 0.3s;
}
.panel #entry-panel .btn-reset:hover {
    border-color: #ffffff;
}

.panel .color-customize-panel {
    height: calc((100vh - 100px) * 0.8);
    display: flex;
    border-radius: 0 6px 6px 6px;
    color: #808080;
    background-color: #ffffff;
}
.panel .color-customize-panel .section-groups {
    width: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #f1f1f2;
}
.panel .color-customize-panel .section-groups .panel-content {
    height: calc(100% - 46px);
    padding: 5px 15px 15px 15px;
}
.panel .color-customize-panel .section-groups .panel-content {
    height: calc(100% - 46px);
    padding: 5px 15px 15px 15px;
}
.panel .close-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #f1f1f2;
}
.panel .close-panel a {
    width: 40px;
    height: 40px;
}
.panel #entry-panel.selected {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.panel .close-panel .icon-close {
    width: 20px;
    height: 20px;
    margin: 10px;
    display: block;
}
.panel .title {
    padding: 4px 0;
    margin: 10px 0;
    border-top: 5px;
    background-color: #f2f2f2;
    line-height: 1.6;
    color: #000000;
}
.scrollbar-container {
    overflow: hidden;
    height: calc(100% - 44px);
    position: relative;
}
.scrollbar-container .scrollable-content {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
}
.scrollbar-container .scrollable-content.for-mac {
    padding: 0 15px 15px 0;
    right: -15px;
    bottom: -15px;
}
.scrollbar-container .scrollbar-track {
    position: absolute;
}
.scrollbar-container .scrollbar-track.vertical {
    width: 4px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f1f1f2;
}
.scrollbar-container .scrollbar-track .scrollbar-thumb {
    border-radius: 4px;
    cursor: pointer;
}
.panel .color-customize-panel .section-pattern-list .panel-scroll-container {
    max-height: calc(100% - 46px);
}
.panel .color-customize-panel .section-options .panel-scroll-container .scrollable-content.show-scrollbar {
    padding-right: 10px;
}

.panel .color-customize-panel .section-groups .section-group {
    position: relative;
}
.panel .color-customize-panel .section-groups .section-group .angle-right {
    width: 21.74%;
    display: inline-block;
    vertical-align: middle;
    user-select: none;
}
.panel .section-groups .section-group .svg-icon {
    width: calc(100% - 4px * 2);
    height: 52px;
    margin: auto;
}
.panel .section-groups .section-group .svg-icon svg {
    width: 56.52%;
    margin-left: 21.74%;
    display: inline-block;
    vertical-align: middle;
}
.panel .color-customize-panel .section-groups .section-group .section-group-name {
    width: calc(100% - 4px * 2);
    cursor: pointer;
    margin: 8px auto 0 auto;
}
.panel .color-customize-panel .section-groups .section-group .section-group-name:hover {
    color: blueviolet;
}

.panel .color-customize-panel .plain-color-list {
    width: 162px;
    border: 1px solid #f1f1f2;
}
.panel .color-customize-panel .plain-color-list .panel-content {
    height: calc(100% - 44px);
    padding: 5px 10px 15px 10px;
    text-align: center;
}
.panel .color-customize-panel .plain-color-list .color-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.panel .color-customize-panel .plain-color-list .icon-color-wrapper {
    width: 36px;
    height: 36px;
    margin: 4px;
    border-radius: 50%;
}
.panel .icon-color-wrapper {
    height: 40px;
    width: 40px;
    margin: 8px auto;
    border-radius: 50%;
    display: block;
    background: #fff;
    overflow: hidden;
    position: relative;
}
.panel .icon-color-wrapper .back {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.panel .color-customize-panel .plain-color-list .icon-color-wrapper .back {
    box-shadow: 0 0 1px #878889 inset;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
}
.none {
    display: none;
}


/* Decorate panel */
.panel #decorate-panel {
    height: calc((100vh - 100px) * 0.8);
    display: flex;
    border-radius: 0 6px 6px 6px;
    background-color: #ffffff;
    font-size: 10px;
    border: 1px solid #f1f1f2;
}

.panel #decorate-panel .design-panels {
    width: 130px;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    vertical-align: top;
    text-transform: uppercase;
    overflow: hidden;
    background-color: white;
}
.panel #decorate-panel .design-panel__content {
    height: calc(100% - 46px);
    position: relative;
}
.panel #decorate-panel .design-panel__content .position-panel-padding {
    padding: 15px 15px 10px 15px;
}
.panel #decorate-panel .design-panels .design-panel__content .design-panel__item {
    display: block;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #666666;
}
.panel #decorate-panel .design-panels .design-panel__content .design-panel__item .icon-color-wrapper .back {
    background: url("../../../assets/images/decoration-add.svg");
}
#none {
    display: none;
}
